<link rel="stylesheet" href="/css/fm.revealator.jquery.min.css">
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/fm.revealator.jquery.min.js"></script>

<div class="header revealator-slidedown revealator-once revealator-once">
    <div class="inline_top">
        <div>
            <div class="header__logo">
                <a href="/" class="heder__logo-link">
                    <img src="/images/Frame.svg" class="header__logo-pic">
                </a>
            </div>
        </div>
        <div class="right">
            <img src="/images/badge_gp.jpg" class="badge">
            <img src="/images/badge_as.jpg" class="badge">
            <div class="header_btn desc">Установить</div>
        </div>
    </div>
</div>
<div class="block1">
    <div class="inline desc">
        <div class="revealator-slideright revealator-delay1 revealator-once">
            <div class="block1_txt"><span class="block1_txt_color">Инвестируйте легко</span> и получайте доход<br><span
                    class="block1_txt_color">+51,9%</span>
                <span class="block1_txt_small">годовых *</span></div>
            <div class="block1_txt2">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме.
                Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.
            </div>
            <div class="block1_btn">Установить приложение</div>
            <div class="block1_app">
                <div><a href="/">
                    <img src="/images/gp.jpg">
                </a></div>
                <div>
                    <a href="/">
                        <img src="/images/as.jpg">
                    </a>
                </div>
            </div>
        </div>
        <div class="right revealator-slideleft revealator-delay2 revealator-once">
            <img src="/images/block1.jpg" class="block1_img_r">
        </div>
    </div>

    <div class="inline mob">
        <div class="revealator-slideright revealator-delay1 revealator-once">
            <div class="block1_txt">Зарабатывайте на
                инвестировании <span class="block1_txt_color">легче и больше</span></div>
            <div class="block1_txt2">Подписывайтесь на лучшие стратегии, копируйте сделки профессиональных трейдеров в
                автоматическом режиме, зарабатывайте легко с минимальными рисками
            </div>
            <div class="block1_app">
                <div><a href="/">
                    <img src="/images/gp.jpg">
                </a></div>
                <div>
                    <a href="/">
                        <img src="/images/as.jpg">
                    </a>
                </div>
            </div>
            <div class="block1_btn">Установить приложение</div>
        </div>
        <div class="right revealator-slideleft revealator-delay2 revealator-once">
            <img src="/images/block1_m.jpg" class="block1_img_r_m">
        </div>
    </div>
</div>

<div class="block1 m_padd revealator-zoomin revealator-once">
    <div class="inline column">
        <div>
            <img src="/images/block2.jpg" class="block2_img_r">
        </div>
        <div>
            <div class="block2_txt">Автоследование:<span class="block1_txt_color"> минимальные риски</span>,
                оптимальная доходность
                </div>
            <div class="block2_txt2">Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым
                сделкам и их доходности. Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски
                и доходность стратегии.
            </div>
        </div>
    </div>
</div>
